/*rose:FF2E85 fondGris:F5F5F5*/

body {
    background-color: #F5F5F5;
}

.banniere {
    height: 100px;
    background-color: #394046;
}


.contourRose {
    border: solid 2px #FF2E85;
}

h1 {
    font-size: 1.2em;
    color: #FF2E85;
}

h2 {
    font-size: 0.7em;
    color: white;
}

h3 {
    font-size: 0.8em;
    color: white;
}

h4 {
    font-size: 1em;
    color: #FF2E85;
}

h5 {
    font-size: 0.7em;
    color: #394046;
}

.fondProfil {
    background-color: white;
}

.dejaRecrute {
    position: absolute;
    height: 10em;
    width: 10em;
}


@media screen and (min-width: 1000px) {
    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1.2em;
    }
}

/* Planning dev et alt */
.planning {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
    
}